<h2>Citizen Dashboard</h2>
<p>Welcome <%= user.name %>! Here you can:</p>

<ul>
  <li>
    <a
      href="/citizen/apply?citizen_id=<%= user.id %>&name=<%= encodeURIComponent(user.name) %>"
    >
      Apply for a new service
    </a>
  </li>
  <li>
    <a
      href="/citizen/track?citizen_id=<%= user.id %>&name=<%= encodeURIComponent(user.name) %>"
    >
      Track your service requests
    </a>
  </li>
  <li>
    <a
      href="/citizen/notifications?citizen_id=<%= user.id %>&name=<%= encodeURIComponent(user.name) %>"
    >
      View notifications
    </a>
  </li>
</ul>
